.blogs {
  display: flex;
  flex-direction: column;

  width: 70%;
  margin-left: 30px;
  margin-top: 20px;
}

.blogs > img {
  width: 80%;
  height: auto;
  text-align: center;
}
.blogs > .p_more {
  font-size: 1.5em;
  font-weight: normal;

  white-space: break-spaces;
}
.p_more > img {
  width: 80%;
  height: auto;
  text-align: center;
}
