.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blogs > h2 {
  text-align: center;
}
.blogs > .p_less {
  font-size: 1.5em;
  font-weight: lighter;
  padding: 0px 50px 0px 50px;
}
.blogs > img {
  width: 50%;
  height: auto;
  text-align: center;
}
.blogs > .p_more {
  font-size: 1.5em;
  font-weight: lighter;
  padding: 0px 50px 0px 50px;
  display: none;
  white-space: break-spaces;
}
.blogs > .p_link {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0px 50px 0px 50px;
  cursor: pointer;
}
