.blogs {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin-left: 15vw;
  margin-top: 25px;
}
.blogs > h2 {
  font-size: 5vw;
  text-align: center;
}
.images {
  width: 60% !important;
  height: auto !important;
  margin-left: 25%;
}

.blogs > img {
  width: 50vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.blogs > .p_more > p {
  font-size: 2vw;
  font-weight: normal;
  color: #1d2229;
  white-space: break-spaces;
}
.p_more > img {
  width: 80%;
  height: auto;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .blogs > .p_more > p {
    font-size: 15px;
    color: #1d2229;
  }
  .blogs > h2 {
    font-size: 6vw;
  }
}
