.blogs {
  display: flex;
  flex-direction: column;

  width: 70%;
  margin-left: 15vw;
  margin-top: 20px;
}
#images#images#images{
  height:20%  !important;
  width:50% !important;
  margin-left: 25%;
}

.blogs  img {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.blogs > .p_more {
  font-size: 1.5em;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;

  white-space: break-spaces;
}
.p_more > img {
  width: 80%;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
