.dues {
  display: flex;
  flex-direction: row;
}
.dues > h3 {
  font-weight: lighter;
}
.financeCard{
  padding: "30px";
  border: "2px solid black";
  min-width: 10vw;
  margin:'10px';
  box-sizing: border-box;
}
.financeCard p{
  width:100% !important;
}