#container {
  border: 1px solid black;
  margin: 30px 30px 123px 30px;
}

#details_container {
  margin-bottom: 30px;
  border: 1px solid black;
  display: flex;
}

#receiver_details_container {
  background-color: #f0f0f0;
}

#item_details_container {
  background-color: #f0f0f0;
}

#generate_invoice--button {
  margin: 50px 0px;
  padding: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
