.tableDetail {
  width: 100%;
  max-width: 1070px;
}

.tableDetail th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #5273eb;
  color: white;
  border: 1px solid #ddd;
}
