.about_main {
  display: flex;
}

.about_data {
  margin: 100px 100px 0px 100px;
}
.about_data > h2 {
  font-size: 4vmax;
  font-weight: bolder;
}
.about_data > p {
  font-size: 2vw;
}
.slider {
  margin-right: 100px;
}
.left_leave_icon {
  position: absolute;
  z-index: -1;
  left: 0;
}
@media only screen and (max-width: 700px) {
  .about_main {
    display: flex;
    flex-direction: column;
  }
  .about_data > p {
    font-size: 4vw;
  }

  .about_data {
    margin: 0px 20px 0px 20px;
  }
  .left_leave_icon {
    display: none;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1100px) {
  .about_data > p {
    font-size: 2.5vw;
  }
}
/* .about_data {
  margin: -50px 200px 0px 0px;
}
.about > img {
  width: 20vw;
}


.about_main_icon {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 30em;
}

.left_leave_home {
  position: absolute;
  z-index: -1;
  left: 0;
}
@media only screen and (max-width: 600px) {
  .about_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about_data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
} */
