.about_main_icon {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 30em;
}
.head_circle_icon {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 20em;
}
.about_main {
  display: flex;
  margin-top: 50px;
}
.about {
  display: flex;
  padding: 80px;
}
.about_data {
  margin: -50px 200px 0px 0px;
}
.about > img {
  width: 20em;
}
.about_data > p {
  font-size: 1.4em;
  width: 500px;
}
.about_data > h2 {
  font-size: 2em;
  font-weight: bolder;
}
.left_leave_home {
  position: absolute;
  z-index: -1;
  left: 0;
  /* top: 50%; */
}
