.card {
  border: 1px solid black;
  height: 10vw;
  width: 18vw;
}
.btn-primary {
  margin-left: 9vw;
  margin-right: 1.5vw;
  width: 8vw;
}
.card-text {
  margin-left: 8px;
}
.card-img-top {
  float: right;
  position: relative;
  margin-right: 10px;
}
.card-body {
  width: 12vw;
}
.viewPaySlip {
  margin-left: 11vw;
}
.grid {
  display: grid;
  table-layout: fixed;
  grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1vw;
  grid-row-gap: 20px;
  grid-column-gap: 10vw;
}
.selectors {
  display: inline-flex;
}
.selectors * {
  margin: 8px;
}
.payrollBreakup {
  border: 1px solid black;
}
.container {
  display: inline-flex;
}

#send {
  position: fixed;
  bottom: 10px;
  width: 45vw;
}

.adminDashboard {
  display: inline-flex;
}
.chatView {
  border: 1px solid black;
  width: 50vw;
  min-height: 98vh;
}
.chatView div {
  width: 45vw;
}
.attendanceView {
  width: 45vw;
  display: block;
}
.payrollBreakup{
  margin-left:10vw;
}
.holidays span{
  color:red;
}
.leaves span{
  color:grey;

}