.blog_images {
  margin: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.blog_images > a {
  text-align: center;
  margin: 100px 30px 0px 30px;
}

.blog_img {
  width: 70%;
  height: auto;
}
.blog_left_leave {
  position: absolute;
}
.blog_right_leave {
  position: absolute;
  right: 0;
  z-index: -1;
}
