.contact {
  display: flex;
  padding: 100px;
}
.contact_data {
  margin: 0px 250px 0px 0px;
}
.contact > img {
  width: 30em;
}
.contact_icons >a > i{
  font-size: 1.5em;
  margin: 20px 10px 0px 10px;
  color: #222831;
}
.left_leave{
  position: absolute;
  
  z-index: -1;
  
}