@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.head_main_icon {
  position: absolute;
  z-index: -1;
  top: 0%;
  right: 0%;
  width: 33vw;
  height: auto;
}

.head {
  display: flex;
  margin: 100px;
}

.head_data > h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5vw;
  width: 50vw;
}

.login_option {
  border-radius: 2px solid black;
  padding: 10px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  padding: 2px;
  outline-width: 0;
  border: none;
}
.button {
  outline: none;
  border-radius: 2px;
  background-color: #2f2e41;
  color: white;
  border: none;
  padding: 5px 10px 5px 10px;
  outline: none;
  border: none;
}
@media only screen and (max-width: 700px) {
  .head_main_icon {
    position: absolute;
    z-index: -1;
    top: 0%;
    right: 0%;
    width: 40vw;
    height: auto;
  }
  .head {
    margin: 200px 0px 150px 100px;
  }
}
@media only screen and (max-width: 450px) {
  .head {
    margin: 200px 0px 150px 0px;
  }
  .head_data > h2 {
    font-size: 4.5vw;
    margin-left: 50px;
  }
}
