.ul_main {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:none;
}

.li {
  float: left;
  font-size: 1.2em;
  margin: 0px 0px 0px 10px;
}
.li_img {
  width: 40px;
  height: auto;
}
.li_finance {
  float: right;
  font-size: 1.2em;
  margin: 10px 30px 0px 0px;
}
.li_end {
  float: right;
  font-size: 1.2em;
  color: black;
  margin: 10px 17px 0px 0px;
  text-decoration: none;
}
.li_end p {
  font-size: 1.3em;
}
.li_end > button {
  background-color: #fbc343 !important;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
  color: white;
  text-align: center;
  margin-top: 1em;
}
.li_end > p:hover {
  text-decoration: none;
  outline: none;
}
.li_end > i {
  display: none;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #333333;
  color: white;
  text-decoration: none;
}

.li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.li_end a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #4caf50;
}

#logout {
  background-color: transparent;
}
.feature_dropdown {
  display: none;
  position: absolute;
  background-color: #5273eb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  z-index: 1;
}
.feature_dropdown a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.feature_dropdown > a > img {
  padding: 0px 30px 0px 10px;
}

.feature_dropdown a:hover {
  background-color: #fbc343;
}

.feature:hover .feature_dropdown {
  display: block;
}
