#div_container {
  margin: 40px;
  display: flex;
}

#image_list_container {
  width: 288px;
}

#emp_image_container {
  width: 279px;
  height: 203px;
  background: #5273eb;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#emp_image_container .emp_image {
  border-radius: 50%;
  height: 129.04383850097656px;
  width: 127px;
}

#emp_list_container {
  padding-left: 8px;
  width: 279px;
  background: #ffffff;
  box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#active_conv_title {
  margin: 20px 0px 20px 5px;
}

.no_of_emp {
  margin-left: 10px;
  height: 23.765846252441406px;
  width: 23.959300994873047px;
  border-radius: 50%;
  background: rgba(82, 115, 235, 1);
}

#emp_list_container ul {
  list-style-type: none;
  margin: 20px 0px 20px 0px;
  padding-left: 0px;
}

#emp_list_container .emp_item {
  margin: 5px;
  height: 64px;
  width: 252px;
  opacity: 0.8;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #5273eb;
}

#emp_list_container .selected {
  background: #fac419;
  color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#emp_list_container .emp_item img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

#archive_chats_title {
  color: rgba(82, 115, 235, 1);
}

#archive_chats_title .no_of_emp {
  color: black;
  background-color: #f2f2f2;
}

/* CHAT */
#chat_container {
  background: #fdfdfd;
  box-shadow: -1px 4px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 365px;
  height: 663px;
  margin-left: 10px;
}
