.sidebar {
  background-color: #5273eb;
  height: 90vh;
  /* position:absolute; */
  width: fit-content;

  z-index: 1;
  left: 0;
  top: 10%;
  background-color: #5273eb;
}
.li_side {
  width: 250px;
  list-style: none;
}
.li_side a:hover {
  background-color: #fac419;
}
.li_side a {
  padding: 25px 25px 25px 0px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.li_side > a > img {
  padding: 0px 50px 0px 25px;
}
.li_side > a > i {
  padding: 0px 50px 0px 25px;
}
#logout {
  background-color: transparent;
}
